{% extends 'main/footer_base.html' %}
{% block header %}
{% load static %}
<header>
    <div class="coach">
        <div class="logo">
            <a href="#">
                <img src="{% static 'main/images/logo.png' %}" alt="COLRED">
            </a>
            <div>Создатель и редактор персонажей для Pathfinder 2e</div>
        </div>
        <div class="hide"></div>
        <div class="search shadow">
            <div>
                <input type="text" placeholder="поиск">
            </div>
        </div>
        <div class="lklogo">
            <div>
                <div>{% block username %}{% endblock %}</div>
            </div>
            <a href="{% url 'lk' %}">
                <img src="{% get_static_prefix %}{% block ava_image %}{% endblock %}" alt="ava">
            </a>
            
        </div>

    </div>
    <div class="strange"></div>
</header>
{% endblock %}