{% extends 'main/header_base.html' %}
{% block list %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/list.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
    </script>
<!-- <script type="text/javascript" src="{% static 'main/js/login.js' %}"></script> -->
{% endblock %}

{% block title %}
redacted
{% endblock %}

{% block username %}
{{ username }}
{% endblock %}

{% block ava_image %}main/images/avatars/{{ avatar }}.png{% endblock %}

{% block content %}
<div class="list">
    <div class="book">
        <div class="left_page">
            <div class="up">
                <div class="char_logo">
                    <img src="https://res.cloudinary.com/fleetnation/image/private/c_fill,g_center,h_640,w_640/v1434447997/x0tb74d8kzfl1glpwnvp.jpg"
                        alt="+">
                </div>
                <div class="char_stats">
                    <div class="listning placeholder lvl">
                        <div class="class_lvl">
                            <input type="text" name="" id="" placeholder="3" maxlength="2">
                        </div>
                        <div>Уровень</div>
                    </div>
                    <div class="listning placeholder xp">
                        <div class="">
                            <input type="text" name="" id="" placeholder="3000" maxlength="5">
                        </div>
                        <div>Опыт</div>
                    </div>
                    <div class="listning placeholder class">
                        <div class="">
                            <input type="text" name="" id="" placeholder="Воин" maxlength="13">
                        </div>
                        <div>Класс</div>
                    </div>
                </div>
            </div>
            <div class="down">
                <div class="char_info">
                    <div class="placeholder name">
                        Имя персонажа
                    </div>
                    <div class="placeholder">
                        <input type="text" name="" id="" placeholder="Персоврак Кожеботович">
                    </div>
                    <div class="placeholder">
                        <input type="text" name="" id="" placeholder="Прошлое: дед     Божество:  Зевс"
                            style="margin-top: 5px;">
                    </div>
                    <div class="placeholder">
                        <input type="text" name="" id="" placeholder="Происхождение: сын Кожеботовича"
                            style="margin-top: 10px;">
                    </div>
                    <div class="placeholder">
                        <input type="text" name="" id="" placeholder="Мировозрение: СЕ    Трейты:    -   "
                            style="margin-top: 10px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="right_page">
            <div class="up">
                <div class="upper">
                    <div class="stats">
                        <div>сила</div>
                        <div class="STR">+4</div>
                    </div>
                    <div class="stats">
                        <div>харизма</div>
                        <div class="CHR">-1</div>
                    </div>
                </div>
                <div class="middle">
                    <div class="stats">
                        <div>ловкость</div>
                        <div class="DX">-1</div>
                    </div>
                    <div class="stats">
                        <div>мудрость</div>
                        <div class="WIS">+3</div>
                    </div>
                </div>
                <div class="lower">
                    <div class="stats">
                        <div>телослож.</div>
                        <div class="CON">-2</div>
                    </div>
                    <div class="stats">
                        <div>интеллект</div>
                        <div class="IN">0</div>
                    </div>
                </div>
            </div>
            <div class="up up_input_fix">
                <div class="upper">
                    <div>
                        <input type="text" id="STR">
                    </div>
                    <div>
                        <input type="text" id="CHR">
                    </div>
                </div>
                <div class="middle">
                    <div>
                        <input type="text" id="DX">
                    </div>
                    <div>
                        <input type="text" id="WIS">
                    </div>
                </div>
                <div class="lower">
                    <div>
                        <input type="text" id="CON">
                    </div>
                    <div>
                        <input type="text" id="IN">
                    </div>
                </div>
            </div>
            <div class="down">

            </div>
        </div>
    </div>
    <div class="add_info">

    </div>
</div>
{% endblock %}