{% extends 'main/footer_base.html' %}

{% block content %}
{% load static %}
<div class="login_main">
    <div class="login_logo">
        <img src="{% static 'main/images/logo.png' %}" alt="COLRED" class = login_logo_image>
    </div>
    <div>
        <h2>Создатель и редактор персонажей для Pathfinder 2E</h2>
    </div>
    <div class="login_form">
        <form method="post">
            <input type="text" placeholder="Логин"> <br>
            <input type="text" placeholder="Пароль"> <br>
            <button type="submit">Войти</button>
            <button type="submit">Зарегистрироваться</button>       
        </form>
    </div>
</div>

{% endblock %}