{% extends 'main/header_base.html' %}

{% block title %}
COLRED
{% endblock %}

{% block content %}
<div class="profiles">


    <div class="listing"></div>


    <div class="listing addnew">
        <div class="char_logo">
            <img src="https://img2.freepng.ru/20180425/fww/kisspng-plus-and-minus-signs-5ae10740998772.7506031915246968966289.jpg" alt="+">
        </div>
        <div>ИМЯБЛЯТЬПРИМЕР</div>
    </div>
</div>

<p>
    Как интересно, Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,
    Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как
    интересно,
    Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как
    интересно,
    Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как интересно,Как
    интересно,
</p>
{% endblock %}