{% extends 'main/header_base.html' %}

{% block title %}
COLRED
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}

{% block ava_image %}main/images/avatars/{{ avatar }}.png{% endblock %}

{% block content %}
<div class="profiles">

    <a href="/redactor">
        <div class="listing">
            <div class="char_logo">
                <img src="https://res.cloudinary.com/fleetnation/image/private/c_fill,g_center,h_640,w_640/v1434447997/x0tb74d8kzfl1glpwnvp.jpg"
                    alt="+">
            </div>
            <div>Персоврак Кожеботович</div>
        </div>
    </a>
    <a href="#">
        <div class="listing">
            <div class="char_logo">
                <img src="http://paranormal-news.ru/_nw/101/03374637.jpg"
                    alt="+">
            </div>
            <div>Лорем Ипсум</div>
        </div>
    </a>
    <a href="#">
        <div class="listing">
            <div class="char_logo">
                <img src="https://cdn.discordapp.com/attachments/831955488743751700/949349995692318841/Du_Boir.png" alt="+">
            </div>
            <div>Иван?</div>
        </div>
    </a>
    <a href="#">
        <div class="listing">
            <div class="char_logo">
                <img src="https://img2.freepng.ru/20180425/fww/kisspng-plus-and-minus-signs-5ae10740998772.7506031915246968966289.jpg"
                    alt="+">
            </div>
            <div>Одниплюсов Положин</div>
        </div>
    </a>

    <a href="#">
        <div class="listing addnew">
            <div>Добавить новый</div>
        </div>
    </a>
</div>
{% endblock %}