* {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", Arial;
  transition: all 0.2s;
  outline: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin-top: 3rem;
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr auto;
}

/* header============================================================ */

header {
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0px 2px 20px 0px rgba(34, 60, 80, 0.2);
  filter: drop-shadow( 3px 3px 2px rgba(34, 60, 80, 0.2));
  z-index: 999;
}

header .coach {
  margin: 0 5%;
  margin-top: 5px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow( 3px 3px 2px rgba(34, 60, 80, 0.2));
}

.coach>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coach>div {
  max-height: 60px;
}

header .logo * {
  padding: 0 5px;
}

header .logo>img {
  height: 60px;
  width: auto;
}

header .lklogo>img {
  background-color: red;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

header .lklogo {
  background: url(../images/avatar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0px right 0px;
  width: 295px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

header .lklogo>div {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  flex-grow: 33;
}

header .search{
  background: url(../images/search_window.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0px right 0px;
  width: 173px;
  height: 60px;
}

header .search>div {
  padding: 0 0 10px 12px;
  color: gray;
  font-weight: bold;
  width: 114px;
  padding-left: 0px;
  margin-left: 43px;
}

header .search input{
  width: 110px;
  text-align: center;
  background: unset;
  outline: none;
  border: 0px;
  font-size: 16px;
}

/* main============================================================ */

main {
  margin: 0 5%;
  margin-top: 30px;
  background-color: blanchedalmond;
}

.profiles {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listing {
  width: 200px;
  height: 300px;
  display: inline-block;
  background: url(../images/portrait.svg) no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 0px;
  margin: 10px 10px;
  background-color: aliceblue;
}

.listing:hover {
  margin-top: 5px;
  /*background-color: rgb(71, 59, 248);*/
  /* box-shadow: 5px 5px 6px black; */
  filter: drop-shadow( 3px 3px 2px rgba(34, 60, 80, 0.2));
}

.addnew {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.addnew img{
  width:  100%;
}

.char_logo {
  width: 163px;
  height: 192px;
  padding-right: 3px;
  background-color: red;
}

.char_logo>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* footer============================================================ */

footer {
  background-color: black;
  color: white;
  height: 50px;
  position: relative;
}

.about {
  text-align: left;
  margin: 0 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* login_page============================================================ */

.login_main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: red; */
  width: 25rem;
  height: auto;
}

.login_logo_image{
  width: 100%;
  height: auto;
}

.login_form{
  background-color: aqua;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}