* {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", Arial;
  transition: all 0.2s;
  outline: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin-top: 3rem;
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr auto;
}

/* header============================================================ */

header {
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0px 2px 20px 0px rgba(34, 60, 80, 0.2);
}

header .coach {
  margin: 0 5%;
  margin-top: 5px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.coach>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coach>div {
  max-height: 40px;
}

header .logo * {
  padding: 0 5px;
}

header .logo>img {
  height: 40px;
  width: auto;
}

header .lklogo>img {
  background-color: red;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

header .search{
  background: url(../images/search_window.svg) no-repeat center;
  /* background-image: url(https://www.pngmart.com/files/3/Search-Button-PNG-File.png); */
}

/* main============================================================ */

main {
  margin: 0 5%;
  margin-top: 10px;
  background-color: blanchedalmond;
}

.profiles {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listing {
  width: 200px;
  height: 300px;
  display: inline-block;
  background-color: blue;
  margin: 40px 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.listing:hover {
  margin-top: 10px;
  background-color: rgb(71, 59, 248);
  box-shadow: 5px 5px 6px black;
}

.addnew {
  display: flex;
  background-color: unset;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.addnew img{
  width:  100%;
}


/* footer============================================================ */

footer {
  background-color: black;
  color: white;
  height: 50px;
  position: relative;
}

.about {
  text-align: left;
  margin: 0 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* body {
    margin-top: 3rem; 
    display: grid;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr auto;
  }
  
  header {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
  }
  
  main {
    height: 3000px;
    order: 2;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
  }
  
  main>* {
    grid-column: 2 / -2;
  }
  
  
  /* Footer */

/* footer {
    order: 3;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  } */
